<div class="ui main text container">
    <div class="ui secondary pointing menu">
        <a class="item" [routerLink]="['/messages','compose']" routerLinkActive="active">Compose New</a>
        <a class="item" [routerLink]="['/messages','received']" routerLinkActive="active">Received</a>
        <a class="item" [routerLink]="['/messages','sent']" routerLinkActive="active">Sent</a>
    </div>
</div>
<div class="ui text container">
    <div class="ui vertical very padded segment">
        <h1 class="ui header">Messages Received</h1>
    </div>
    <div class="ui vertical padded segment">
        <div id="compose-modal" class="ui longer modal">
            <h2 class="header">Compose new message</h2>
            <div class="content">
                <app-message-compose-form [reply_to_message]="compose_form_replyto_message"
                    [reply_to_contact]="compose_form_replyto_contact"></app-message-compose-form>
            </div>
        </div>

        <app-messages-list [direction]="'INBOUND'"></app-messages-list>
    </div>
</div>