<div class="ui fluid container">
    <div class="ui menu top inverted">
        <div class="header item"><img src="/assets/favicons/ct-w.svg" /></div>
        <a class="item" href="/">Dashboard</a>
        <a class="active item" href="/contacts">Contacts</a>
        <div *ngIf="!authSvc.isLoggedIn" class="ui right labeled icon menu inverted">
            <a class="item" (click)="authSvc.login()"><i class="sign in white icon"></i>Log
                In</a>
        </div>
        <div *ngIf="authSvc.isLoggedIn" class="ui right labeled icon menu inverted">
            <div class="item"><img class="ui icon" src="{{authSvc.id_token.picture}}" />{{authSvc.id_token.name}}
            </div>
            <a class="item" (click)="authSvc.logout()"><i class="sign out white icon"></i>Log
                Out</a>
        </div>
    </div>
</div>
<div class="ui container">
    <h1 class="ui header">Contacts</h1>
    <button class="ui primary labeled icon button">
        <i class="plus icon"></i>New Contact</button>
    <table class="ui celled striped table">
        <thead>
            <tr>
                <th colspan="5">
                    <h3 class="ui header">Available Contacts</h3>
                </th>
            </tr>
            <tr>
                <th>First Name</th>
                <th>Surname</th>
                <th>Phone Number</th>
                <th>Email Address</th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngIf="!contacts">
            <tr>
                <td>
                    <div class="ui placeholder">
                        <div class="line"></div>
                    </div>
                </td>
                <td>
                    <div class="ui placeholder">
                        <div class="line"></div>
                    </div>
                </td>
                <td>
                    <div class="ui placeholder">
                        <div class="line"></div>
                    </div>
                </td>
                <td>
                    <div class="ui placeholder">
                        <div class="line"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="ui placeholder">
                        <div class="line"></div>
                    </div>
                </td>
                <td>
                    <div class="ui placeholder">
                        <div class="line"></div>
                    </div>
                </td>
                <td>
                    <div class="ui placeholder">
                        <div class="line"></div>
                    </div>
                </td>
                <td>
                    <div class="ui placeholder">
                        <div class="line"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="ui placeholder">
                        <div class="line"></div>
                    </div>
                </td>
                <td>
                    <div class="ui placeholder">
                        <div class="line"></div>
                    </div>
                </td>
                <td>
                    <div class="ui placeholder">
                        <div class="line"></div>
                    </div>
                </td>
                <td>
                    <div class="ui placeholder">
                        <div class="line"></div>
                    </div>
                </td>
            </tr>

        </tbody>
        <tbody *ngFor="let ctt of contacts">
            <tr>
                <td>{{ctt.attributes.first_name}}</td>
                <td>{{ctt.attributes.surname}}</td>
                <td>{{ctt.attributes.phone_number}}</td>
                <td>{{ctt.attributes.email_address}}</td>
                <td class="collapsing">
                    <button class="ui icon circular button inverted" (click)="deleteContact(ctt.id)">
                        <i class="trash icon red"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>