<div class="ui container">
    <div class="ui vertical very padded segment">
        <h1 class="ui header">Create New Contact</h1>
    </div>
    <div class="ui vertical padded segment">
        <form class="ui form">
            <h4 class="ui dividing header">Name</h4>
            <div class="three fields">
                <div class="required field">
                    <label for="first-name">Title</label>
                    <select name="title">
                        <option>Mr</option>
                        <option>Mrs</option>
                        <option>Miss</option>
                        <option>Ms</option>
                    </select>
                </div>
                <div class="required field">
                    <label for="first-name">First Name</label>
                    <input type="text" name="first-name">
                </div>
                <div class="required field">
                    <label for="last-name">Last Name</label>
                    <input type="text" name="last-name">
                </div>
            </div>

            <h4 class="ui dividing header">Contact Details</h4>
            <div class="three fields">
                <div class="four wide required field">
                    <label>Phone Country Code</label>
                    <div class="ui search selection dropdown" id="phonecode">
                        <input type="hidden" name="phone-number-code" value="44">
                        <i class="dropdown icon"></i>
                        <div class="default text">+44</div>
                        <div class="menu">
                            <div class="item" data-value="93"><i class="af flag"></i>Afghanistan (+93)</div>
                            <div class="item" data-value="355"><i class="al flag"></i>Albania (+355)</div>
                            <div class="item" data-value="213"><i class="dz flag"></i>Algeria (+213)</div>
                            <div class="item" data-value="1"><i class="as flag"></i>American Samoa (+1)</div>
                            <div class="item" data-value="376"><i class="ad flag"></i>Andorra (+376)</div>
                            <div class="item" data-value="244"><i class="ao flag"></i>Angola (+244)</div>
                            <div class="item" data-value="1"><i class="ai flag"></i>Anguilla (+1)</div>
                            <div class="item" data-value="1"><i class="ag flag"></i>Antigua and Barbuda (+1)</div>
                            <div class="item" data-value="54"><i class="ar flag"></i>Argentina (+54)</div>
                            <div class="item" data-value="374"><i class="am flag"></i>Armenia (+374)</div>
                            <div class="item" data-value="297"><i class="aw flag"></i>Aruba (+297)</div>
                            <div class="item" data-value="61"><i class="au flag"></i>Australia (+61)</div>
                            <div class="item" data-value="43"><i class="at flag"></i>Austria (+43)</div>
                            <div class="item" data-value="994"><i class="az flag"></i>Azerbaijan (+994)</div>
                            <div class="item" data-value="1"><i class="bs flag"></i>Bahamas (+1)</div>
                            <div class="item" data-value="973"><i class="bh flag"></i>Bahrain (+973)</div>
                            <div class="item" data-value="880"><i class="bd flag"></i>Bangladesh (+880)</div>
                            <div class="item" data-value="1"><i class="bb flag"></i>Barbados (+1)</div>
                            <div class="item" data-value="375"><i class="by flag"></i>Belarus (+375)</div>
                            <div class="item" data-value="32"><i class="be flag"></i>Belgium (+32)</div>
                            <div class="item" data-value="501"><i class="bz flag"></i>Belize (+501)</div>
                            <div class="item" data-value="229"><i class="bj flag"></i>Benin (+229)</div>
                            <div class="item" data-value="1"><i class="bm flag"></i>Bermuda (+1)</div>
                            <div class="item" data-value="975"><i class="bt flag"></i>Bhutan (+975)</div>
                            <div class="item" data-value="591"><i class="bo flag"></i>Bolivia (+591)</div>
                            <div class="item" data-value="387"><i class="ba flag"></i>Bosnia and Herzegovina (+387)
                            </div>
                            <div class="item" data-value="267"><i class="bw flag"></i>Botswana (+267)</div>
                            <div class="item" data-value="55"><i class="br flag"></i>Brazil (+55)</div>
                            <div class="item" data-value="673"><i class="bn flag"></i>Brunei Darussalam (+673)</div>
                            <div class="item" data-value="359"><i class="bg flag"></i>Bulgaria (+359)</div>
                            <div class="item" data-value="226"><i class="bf flag"></i>Burkina Faso (+226)</div>
                            <div class="item" data-value="257"><i class="bi flag"></i>Burundi (+257)</div>
                            <div class="item" data-value="855"><i class="kh flag"></i>Cambodia (+855)</div>
                            <div class="item" data-value="237"><i class="cm flag"></i>Cameroon (+237)</div>
                            <div class="item" data-value="1"><i class="ca flag"></i>Canada (+1)</div>
                            <div class="item" data-value="238"><i class="cv flag"></i>Cape Verde (+238)</div>
                            <div class="item" data-value="1"><i class="ky flag"></i>Cayman Islands (+1)</div>
                            <div class="item" data-value="236"><i class="cf flag"></i>Central African Republic (+236)
                            </div>
                            <div class="item" data-value="235"><i class="td flag"></i>Chad (+235)</div>
                            <div class="item" data-value="56"><i class="cl flag"></i>Chile (+56)</div>
                            <div class="item" data-value="86"><i class="cn flag"></i>China (+86)</div>
                            <div class="item" data-value="61"><i class="cx flag"></i>Christmas Island (+61)</div>
                            <div class="item" data-value="61"><i class="cc flag"></i>Cocos (Keeling) Islands (+61)</div>
                            <div class="item" data-value="57"><i class="co flag"></i>Colombia (+57)</div>
                            <div class="item" data-value="269"><i class="km flag"></i>Comoros (+269)</div>
                            <div class="item" data-value="242"><i class="cg flag"></i>Congo (Brazzaville) (+242)</div>
                            <div class="item" data-value="243"><i class="cg flag"></i>Congo (Kinshasa) (+243)</div>
                            <div class="item" data-value="682"><i class="ck flag"></i>Cook Islands (+682)</div>
                            <div class="item" data-value="506"><i class="cr flag"></i>Costa Rica (+506)</div>
                            <div class="item" data-value="225"><i class="ci flag"></i>Côte d'Ivoire (+225)</div>
                            <div class="item" data-value="385"><i class="hr flag"></i>Croatia (+385)</div>
                            <div class="item" data-value="53"><i class="cu flag"></i>Cuba (+53)</div>
                            <div class="item" data-value="357"><i class="cy flag"></i>Cyprus (+357)</div>
                            <div class="item" data-value="420"><i class="cz flag"></i>Czechia (+420)</div>
                            <div class="item" data-value="45"><i class="dk flag"></i>Denmark (+45)</div>
                            <div class="item" data-value="253"><i class="dj flag"></i>Djibouti (+253)</div>
                            <div class="item" data-value="1"><i class="dm flag"></i>Dominica (+1)</div>
                            <div class="item" data-value="1"><i class="do flag"></i>Dominican Republic (+1)</div>
                            <div class="item" data-value="593"><i class="ec flag"></i>Ecuador (+593)</div>
                            <div class="item" data-value="20"><i class="eg flag"></i>Egypt (+20)</div>
                            <div class="item" data-value="503"><i class="sv flag"></i>El Salvador (+503)</div>
                            <div class="item" data-value="240"><i class="gq flag"></i>Equatorial Guinea (+240)</div>
                            <div class="item" data-value="291"><i class="er flag"></i>Eritrea (+291)</div>
                            <div class="item" data-value="372"><i class="ee flag"></i>Estonia (+372)</div>
                            <div class="item" data-value="268"><i class="sz flag"></i>Eswatini (+268)</div>
                            <div class="item" data-value="251"><i class="et flag"></i>Ethiopia (+251)</div>
                            <div class="item" data-value="500"><i class="fk flag"></i>Falkland Islands (Malvinas) (+500)
                            </div>
                            <div class="item" data-value="298"><i class="fo flag"></i>Faroe Islands (+298)</div>
                            <div class="item" data-value="679"><i class="fj flag"></i>Fiji (+679)</div>
                            <div class="item" data-value="358"><i class="fi flag"></i>Finland (+358)</div>
                            <div class="item" data-value="33"><i class="fr flag"></i>France (+33)</div>
                            <div class="item" data-value="594"><i class="gf flag"></i>French Guiana (+594)</div>
                            <div class="item" data-value="689"><i class="pf flag"></i>French Polynesia (+689)</div>
                            <div class="item" data-value="241"><i class="ga flag"></i>Gabon (+241)</div>
                            <div class="item" data-value="220"><i class="gm flag"></i>Gambia (+220)</div>
                            <div class="item" data-value="995"><i class="ge flag"></i>Georgia (+995)</div>
                            <div class="item" data-value="49"><i class="de flag"></i>Germany (+49)</div>
                            <div class="item" data-value="233"><i class="gh flag"></i>Ghana (+233)</div>
                            <div class="item" data-value="350"><i class="gi flag"></i>Gibraltar (+350)</div>
                            <div class="item" data-value="30"><i class="gr flag"></i>Greece (+30)</div>
                            <div class="item" data-value="299"><i class="gl flag"></i>Greenland (+299)</div>
                            <div class="item" data-value="1"><i class="gd flag"></i>Grenada (+1)</div>
                            <div class="item" data-value="590"><i class="gp flag"></i>Guadeloupe (+590)</div>
                            <div class="item" data-value="1"><i class="gu flag"></i>Guam (+1)</div>
                            <div class="item" data-value="502"><i class="gt flag"></i>Guatemala (+502)</div>
                            <div class="item" data-value="224"><i class="gn flag"></i>Guinea (+224)</div>
                            <div class="item" data-value="245"><i class="gw flag"></i>Guinea-Bissau (+245)</div>
                            <div class="item" data-value="592"><i class="gy flag"></i>Guyana (+592)</div>
                            <div class="item" data-value="509"><i class="ht flag"></i>Haiti (+509)</div>
                            <div class="item" data-value="379"><i class="va flag"></i>Holy See (+379)</div>
                            <div class="item" data-value="504"><i class="hn flag"></i>Honduras (+504)</div>
                            <div class="item" data-value="852"><i class="hk flag"></i>Hong Kong (+852)</div>
                            <div class="item" data-value="36"><i class="hu flag"></i>Hungary (+36)</div>
                            <div class="item" data-value="354"><i class="is flag"></i>Iceland (+354)</div>
                            <div class="item" data-value="91"><i class="in flag"></i>India (+91)</div>
                            <div class="item" data-value="62"><i class="id flag"></i>Indonesia (+62)</div>
                            <div class="item" data-value="98"><i class="ir flag"></i>Iran (Islamic Republic of) (+98)
                            </div>
                            <div class="item" data-value="964"><i class="iq flag"></i>Iraq (+964)</div>
                            <div class="item" data-value="353"><i class="ie flag"></i>Ireland (+353)</div>
                            <div class="item" data-value="972"><i class="il flag"></i>Israel (+972)</div>
                            <div class="item" data-value="39"><i class="it flag"></i>Italy (+39)</div>
                            <div class="item" data-value="1"><i class="jm flag"></i>Jamaica (+1)</div>
                            <div class="item" data-value="81"><i class="jp flag"></i>Japan (+81)</div>
                            <div class="item" data-value="962"><i class="jo flag"></i>Jordan (+962)</div>
                            <div class="item" data-value="7"><i class="kz flag"></i>Kazakhstan (+7)</div>
                            <div class="item" data-value="254"><i class="ke flag"></i>Kenya (+254)</div>
                            <div class="item" data-value="686"><i class="ki flag"></i>Kiribati (+686)</div>
                            <div class="item" data-value="850"><i class="kp flag"></i>Korea (Democratic People's
                                Republic of) (+850)</div>
                            <div class="item" data-value="82"><i class="kr flag"></i>Korea, Republic of (+82)</div>
                            <div class="item" data-value="965"><i class="kw flag"></i>Kuwait (+965)</div>
                            <div class="item" data-value="996"><i class="kg flag"></i>Kyrgyzstan (+996)</div>
                            <div class="item" data-value="856"><i class="la flag"></i>Lao People's Democratic Republic
                                (+856)</div>
                            <div class="item" data-value="371"><i class="lv flag"></i>Latvia (+371)</div>
                            <div class="item" data-value="961"><i class="lb flag"></i>Lebanon (+961)</div>
                            <div class="item" data-value="266"><i class="ls flag"></i>Lesotho (+266)</div>
                            <div class="item" data-value="231"><i class="lr flag"></i>Liberia (+231)</div>
                            <div class="item" data-value="218"><i class="ly flag"></i>Libya (+218)</div>
                            <div class="item" data-value="423"><i class="li flag"></i>Liechtenstein (+423)</div>
                            <div class="item" data-value="370"><i class="lt flag"></i>Lithuania (+370)</div>
                            <div class="item" data-value="352"><i class="lu flag"></i>Luxembourg (+352)</div>
                            <div class="item" data-value="853"><i class="mo flag"></i>Macao (+853)</div>
                            <div class="item" data-value="261"><i class="mg flag"></i>Madagascar (+261)</div>
                            <div class="item" data-value="265"><i class="mw flag"></i>Malawi (+265)</div>
                            <div class="item" data-value="60"><i class="my flag"></i>Malaysia (+60)</div>
                            <div class="item" data-value="960"><i class="mv flag"></i>Maldives (+960)</div>
                            <div class="item" data-value="223"><i class="ml flag"></i>Mali (+223)</div>
                            <div class="item" data-value="356"><i class="mt flag"></i>Malta (+356)</div>
                            <div class="item" data-value="692"><i class="mh flag"></i>Marshall Islands (+692)</div>
                            <div class="item" data-value="596"><i class="mq flag"></i>Martinique (+596)</div>
                            <div class="item" data-value="222"><i class="mr flag"></i>Mauritania (+222)</div>
                            <div class="item" data-value="230"><i class="mu flag"></i>Mauritius (+230)</div>
                            <div class="item" data-value="262"><i class="yt flag"></i>Mayotte (+262)</div>
                            <div class="item" data-value="52"><i class="mx flag"></i>Mexico (+52)</div>
                            <div class="item" data-value="691"><i class="fm flag"></i>Micronesia (Federated States of)
                                (+691)</div>
                            <div class="item" data-value="373"><i class="md flag"></i>Moldova (+373)</div>
                            <div class="item" data-value="377"><i class="mc flag"></i>Monaco (+377)</div>
                            <div class="item" data-value="976"><i class="mn flag"></i>Mongolia (+976)</div>
                            <div class="item" data-value="382"><i class="me flag"></i>Montenegro (+382)</div>
                            <div class="item" data-value="1"><i class="ms flag"></i>Montserrat (+1)</div>
                            <div class="item" data-value="212"><i class="ma flag"></i>Morocco (+212)</div>
                            <div class="item" data-value="258"><i class="mz flag"></i>Mozambique (+258)</div>
                            <div class="item" data-value="95"><i class="mm flag"></i>Myanmar (+95)</div>
                            <div class="item" data-value="264"><i class="na flag"></i>Namibia (+264)</div>
                            <div class="item" data-value="674"><i class="nr flag"></i>Nauru (+674)</div>
                            <div class="item" data-value="977"><i class="np flag"></i>Nepal (+977)</div>
                            <div class="item" data-value="31"><i class="nl flag"></i>Netherlands (+31)</div>
                            <div class="item" data-value="599"><i class="nl flag"></i>Netherlands Antilles (+599)</div>
                            <div class="item" data-value="687"><i class="nc flag"></i>New Caledonia (+687)</div>
                            <div class="item" data-value="64"><i class="nz flag"></i>New Zealand (+64)</div>
                            <div class="item" data-value="505"><i class="ni flag"></i>Nicaragua (+505)</div>
                            <div class="item" data-value="227"><i class="ne flag"></i>Niger (+227)</div>
                            <div class="item" data-value="234"><i class="ng flag"></i>Nigeria (+234)</div>
                            <div class="item" data-value="683"><i class="nu flag"></i>Niue (+683)</div>
                            <div class="item" data-value="672"><i class="nf flag"></i>Norfolk Island (+672)</div>
                            <div class="item" data-value="389"><i class="mk flag"></i>North Macedonia (+389)</div>
                            <div class="item" data-value="1"><i class="mp flag"></i>Northern Mariana Islands (+1)</div>
                            <div class="item" data-value="47"><i class="no flag"></i>Norway (+47)</div>
                            <div class="item" data-value="968"><i class="om flag"></i>Oman (+968)</div>
                            <div class="item" data-value="92"><i class="pk flag"></i>Pakistan (+92)</div>
                            <div class="item" data-value="680"><i class="pw flag"></i>Palau (+680)</div>
                            <div class="item" data-value="970"><i class="ps flag"></i>Palestine, State of (+970)</div>
                            <div class="item" data-value="507"><i class="pa flag"></i>Panama (+507)</div>
                            <div class="item" data-value="675"><i class="pg flag"></i>Papua New Guinea (+675)</div>
                            <div class="item" data-value="595"><i class="py flag"></i>Paraguay (+595)</div>
                            <div class="item" data-value="51"><i class="pe flag"></i>Peru (+51)</div>
                            <div class="item" data-value="63"><i class="ph flag"></i>Philippines (+63)</div>
                            <div class="item" data-value="870"><i class="pn flag"></i>Pitcairn (+870)</div>
                            <div class="item" data-value="48"><i class="pl flag"></i>Poland (+48)</div>
                            <div class="item" data-value="351"><i class="pt flag"></i>Portugal (+351)</div>
                            <div class="item" data-value="1"><i class="pr flag"></i>Puerto Rico (+1)</div>
                            <div class="item" data-value="974"><i class="qa flag"></i>Qatar (+974)</div>
                            <div class="item" data-value="262"><i class="yt flag"></i>Réunion and Mayotte (+262)</div>
                            <div class="item" data-value="40"><i class="ro flag"></i>Romania (+40)</div>
                            <div class="item" data-value="7"><i class="ru flag"></i>Russian Federation (+7)</div>
                            <div class="item" data-value="250"><i class="rw flag"></i>Rwanda (+250)</div>
                            <div class="item" data-value="290"><i class="sh flag"></i>Saint Helena, Ascension and
                                Tristan da Cunha (+290)</div>
                            <div class="item" data-value="1"><i class="kn flag"></i>Saint Kitts and Nevis (+1)</div>
                            <div class="item" data-value="1"><i class="lc flag"></i>Saint Lucia (+1)</div>
                            <div class="item" data-value="508"><i class="pm flag"></i>Saint Pierre and Miquelon (+508)
                            </div>
                            <div class="item" data-value="1"><i class="vc flag"></i>Saint Vincent and the Grenadines
                                (+1)</div>
                            <div class="item" data-value="685"><i class="ws flag"></i>Samoa (+685)</div>
                            <div class="item" data-value="378"><i class="sm flag"></i>San Marino (+378)</div>
                            <div class="item" data-value="239"><i class="st flag"></i>São Tomé and Principe (+239)</div>
                            <div class="item" data-value="966"><i class="sa flag"></i>Saudi Arabia (+966)</div>
                            <div class="item" data-value="221"><i class="sn flag"></i>Senegal (+221)</div>
                            <div class="item" data-value="381"><i class="rs flag"></i>Serbia (+381)</div>
                            <div class="item" data-value="248"><i class="sc flag"></i>Seychelles (+248)</div>
                            <div class="item" data-value="232"><i class="sl flag"></i>Sierra Leone (+232)</div>
                            <div class="item" data-value="65"><i class="sg flag"></i>Singapore (+65)</div>
                            <div class="item" data-value="421"><i class="sk flag"></i>Slovakia (+421)</div>
                            <div class="item" data-value="386"><i class="si flag"></i>Slovenia (+386)</div>
                            <div class="item" data-value="677"><i class="sb flag"></i>Solomon Islands (+677)</div>
                            <div class="item" data-value="252"><i class="so flag"></i>Somalia (+252)</div>
                            <div class="item" data-value="27"><i class="za flag"></i>South Africa (+27)</div>
                            <div class="item" data-value="34"><i class="es flag"></i>Spain (+34)</div>
                            <div class="item" data-value="94"><i class="lk flag"></i>Sri Lanka (+94)</div>
                            <div class="item" data-value="249"><i class="sd flag"></i>Sudan (+249)</div>
                            <div class="item" data-value="597"><i class="sr flag"></i>Suriname (+597)</div>
                            <div class="item" data-value="47"><i class="sj flag"></i>Svalbard and Jan Mayen (+47)</div>
                            <div class="item" data-value="46"><i class="se flag"></i>Sweden (+46)</div>
                            <div class="item" data-value="41"><i class="ch flag"></i>Switzerland (+41)</div>
                            <div class="item" data-value="963"><i class="sy flag"></i>Syrian Arab Republic (+963)</div>
                            <div class="item" data-value="886"><i class="tw flag"></i>Taiwan, Republic of China (+886)
                            </div>
                            <div class="item" data-value="992"><i class="tj flag"></i>Tajikistan (+992)</div>
                            <div class="item" data-value="255"><i class="tz flag"></i>Tanzania, United Republic of
                                (+255)</div>
                            <div class="item" data-value="66"><i class="th flag"></i>Thailand (+66)</div>
                            <div class="item" data-value="670"><i class="tl flag"></i>Timor-Leste (+670)</div>
                            <div class="item" data-value="228"><i class="tg flag"></i>Togo (+228)</div>
                            <div class="item" data-value="690"><i class="tk flag"></i>Tokelau (+690)</div>
                            <div class="item" data-value="676"><i class="to flag"></i>Tonga (+676)</div>
                            <div class="item" data-value="1"><i class="tt flag"></i>Trinidad and Tobago (+1)</div>
                            <div class="item" data-value="216"><i class="tn flag"></i>Tunisia (+216)</div>
                            <div class="item" data-value="90"><i class="tr flag"></i>Turkey (+90)</div>
                            <div class="item" data-value="993"><i class="tm flag"></i>Turkmenistan (+993)</div>
                            <div class="item" data-value="1"><i class="tc flag"></i>Turks and Caicos Islands (+1)</div>
                            <div class="item" data-value="688"><i class="tv flag"></i>Tuvalu (+688)</div>
                            <div class="item" data-value="256"><i class="ug flag"></i>Uganda (+256)</div>
                            <div class="item" data-value="380"><i class="ua flag"></i>Ukraine (+380)</div>
                            <div class="item" data-value="971"><i class="ae flag"></i>United Arab Emirates (+971)</div>
                            <div class="item" data-value="44"><i class="gb flag"></i>United Kingdom (+44)</div>
                            <div class="item" data-value="1"><i class="us flag"></i>United States of America (+1)</div>
                            <div class="item" data-value="598"><i class="uy flag"></i>Uruguay (+598)</div>
                            <div class="item" data-value="998"><i class="uz flag"></i>Uzbekistan (+998)</div>
                            <div class="item" data-value="678"><i class="vu flag"></i>Vanuatu (+678)</div>
                            <div class="item" data-value="58"><i class="ve flag"></i>Venezuela (Bolivarian Republic of)
                                (+58)</div>
                            <div class="item" data-value="84"><i class="vn flag"></i>Viet Nam (+84)</div>
                            <div class="item" data-value="1"><i class="vg flag"></i>Virgin Islands, British (+1)</div>
                            <div class="item" data-value="1"><i class="vi flag"></i>Virgin Islands, US (+1)</div>
                            <div class="item" data-value="967"><i class="ye flag"></i>Yemen (+967)</div>
                            <div class="item" data-value="260"><i class="zm flag"></i>Zambia (+260)</div>
                            <div class="item" data-value="263"><i class="zw flag"></i>Zimbabwe (+26£)</div>
                        </div>
                    </div>
                </div>
                <div class="six wide required field">
                    <label>Phone Number</label>
                    <input type="tel" name="phone-number-afterext">
                </div>
                <div class="six wide required field">
                    <label for="email">Email Address</label>
                    <input type="email" name="email-address">
                </div>
            </div>
            <h4 class="ui dividing header">Extra Details</h4>
            <div class="two fields">
                <div class="six wide field">
                    <label>Category</label>
                    <div class="ui clearable selection dropdown" id="category">
                        <input type="hidden" name="category">
                        <i class="dropdown icon"></i>
                        <div class="default text">None</div>
                        <div class="menu">
                            <div *ngFor="let cat of categories" class="item" [attr.data-value]="cat.id">
                                {{cat.attributes.name}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="six wide required field">
                    <label>Servicechain</label>
                    <div class="ui selection dropdown" id="servicechain">
                        <input type="hidden" name="servicechain">
                        <i class="dropdown icon"></i>
                        <div class="default text">None</div>
                        <div class="menu">
                            <div *ngFor="let sc of servicechains" class="item" [attr.data-value]="sc.id">
                                {{sc.attributes.name}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui error message"></div>
            <div class="ui primary button" (click)="sendForm()">Create Contact</div>
        </form>
    </div>
</div>