<div class="ui menu fixed inverted">
    <div class="ui container">
        <div class="header item"><img src="/assets/favicons/ct-w.svg" /></div>
        <div *ngIf="authSvc.isLoggedIn && authSvc.userOrg" class="ui labeled icon menu top inverted">
            <a class="item" routerLinkActive="active" routerLink="/dashboard"><i
                    class="white tachometer alternate icon"></i>Dashboard</a>
            <a class="item" routerLinkActive="active" routerLink="/contacts"><i class="white users icon"></i>Contacts
            </a>
            <a class="item" routerLinkActive="active" routerLink="/messages"><i class="white envelope icon"></i>Messages
            </a>
        </div>
        <div *ngIf="!authSvc.isLoggedIn" class="ui right labeled icon menu inverted">
            <a class="item" (click)="authSvc.login()"><i class="sign in white icon"></i>Log
                In</a>
        </div>
        <div *ngIf="authSvc.isLoggedIn" class="ui right labeled icon menu inverted">
            <div class="item"><img class="ui rounded icon image"
                    src="{{authSvc.id_token.picture}}" />{{authSvc.id_token.name}}
            </div>
            <a *ngIf="this.authSvc.hasScope(['organization:owner', 'organization:edit'])" class="item"
                routerLink="/admin">
                <i class="cog white icon"></i>
                Settings
            </a>
            <a class="item" (click)="authSvc.logout()"><i class="sign out white icon"></i>
                Log Out
            </a>
        </div>
    </div>
</div>