<app-admin-nav></app-admin-nav>
<div class="ui text container">
    <div class="ui vertical very padded segment">
        <h1 class="ui header">Users</h1>
    </div>
    <div class="ui vertical padded segment">
        <table class="ui celled striped table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email Address</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Steve Jobs</td>
                    <td>steve@apple.com</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>