<app-admin-nav></app-admin-nav>
<div class="ui text container">
    <div class="ui vertical very padded segment">
        <h1 class="ui header">Users</h1>
    </div>
    <div class="ui vertical padded segment">
        <div id="add-new-user-modal" class="ui longer modal">
            <h2 class="header">Add new user</h2>
            <div class="content">
                <app-user-create-form></app-user-create-form>
            </div>
        </div>
        <table class="ui compact celled striped table">
            <thead>
                <tr>
                    <th *ngIf="authSvc.hasScope(['user:add'])" colspan="3">
                        <button class="ui primary labeled icon button" (click)="showNewUserForm()">
                            <i class="plus icon"></i>
                            New User
                        </button>
                    </th>
                </tr>
                <tr>
                    <th>User</th>
                    <th>Email Address</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>
                        <h4 class="ui image header">
                            <img class="ui image avatar" src="{{ user.picture }}" />
                            <div class="content">
                                {{ user.name }}
                            </div>
                        </h4>
                    </td>
                    <td>{{ user.email }}</td>
                    <td class="collapsing"><button class="ui icon circular button inverted"
                            (click)="deleteUser(user.user_id)">
                            <i class="trash icon red"></i>
                        </button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="ui basic modal" id="deleteModal">
        <div class="ui icon header"><i class="icon trash"></i>Delete User</div>
        <div class="content">
            <p>
                Are you sure you want to delete <strong>{{userDeletePromptName}}</strong>?
            </p>
        </div>
        <div class="actions">
            <div class="ui red inverted approve button">Delete</div>
            <div class="ui inverted cancel button">Cancel</div>
        </div>
    </div>
</div>