<div class="ui container">
    <div class="ui vertical very padded segment">
        <h1 class="ui header">Dashboard</h1>
    </div>
    <div class="ui vertical padded segment">
        <div *ngIf="authSvc.isLoggedIn" class="ui four column centered stackable grid">
            <div class="row">
                <div class="centered column ui statistic">
                    <div class="value">
                        <div *ngIf="messagesToday<0" class="ui fluid placeholder">
                            <div class="line"></div>
                        </div>
                        <span *ngIf=messagesToday>{{messagesToday}}</span>
                    </div>
                    <div class="label">
                        Messages Today
                    </div>
                </div>

                <div class="centered column ui statistic">
                    <div class="value">
                        <div *ngIf="messagesToday<0" class="ui fluid placeholder">
                            <div class="line"></div>
                        </div>
                        <span *ngIf=messagesToday>{{messagesToday}}</span>
                    </div>
                    <div class="label">
                        Messages Today
                    </div>
                </div>

                <div class="centered column ui statistic">
                    <div class="value">
                        <div *ngIf="messagesToday<0" class="ui fluid placeholder">
                            <div class="line"></div>
                        </div>
                        <span *ngIf=messagesToday>{{messagesToday}}</span>
                    </div>
                    <div class="label">
                        Messages Today
                    </div>
                </div>

                <div class="centered column ui statistic">
                    <div class="value">
                        <div *ngIf="messagesToday<0" class="ui fluid placeholder">
                            <div class="line"></div>
                        </div>
                        <span *ngIf=messagesToday>{{messagesToday}}</span>
                    </div>
                    <div class="label">
                        Messages Today
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>