<a *ngFor="let msg of messages" class="ui card fluid" [routerLink]="['/messages/thread',msg.id]">
    <div class="content" [ngClass]="{'right aligned':msg.attributes.direction=='OUTBOUND'}">
        <div class="ui header">
            {{msg.relationships.contact.data.attributes.first_name + " " + msg.relationships.contact.data.attributes.surname}}
        </div>
        <div class="meta">
            <img src="{{msg.relationships.user.data.attributes.picture}}" class="ui avatar image" />
            {{msg.relationships.user.data.attributes.name}} &middot;
            {{msg.attributes.sent_time | date:'HH:mm - dd MMM yy'}}
        </div>
        <div class="description">
            {{msg.attributes.body}}</div>
    </div>
    <div class="ui bottom attached button" *ngIf="msg.attributes.direction=='INBOUND'"
        (click)="onReply($event, msg.id)">
        <i class="reply icon"></i> Reply
    </div>
</a>
<div *ngIf="!messages" class="ui card fluid">
    <div class="content">
        <div class="ui placeholder">
            <div class="header">
                <div class="line"></div>
            </div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
</div>
<div *ngIf="!messages" class="ui card fluid">
    <div class="content right aligned">
        <div class="ui placeholder">
            <div class="header">
                <div class="line"></div>
            </div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
</div>
<div *ngIf="!messages" class="ui card fluid">
    <div class="content">
        <div class="ui placeholder">
            <div class="header">
                <div class="line"></div>
            </div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
</div>